/* Header.module.css */

.header {
  background-color: #f5f5f5;
  color: #171717;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 0;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 1rem;
  padding-right: 1rem;
}

.topRightControls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/* Nav Menu for Desktop - now always visible */
.nav {
  display: flex;
  background-color: #444;
  padding: 0.8rem 1rem;
  gap: 1rem;
}

.navLink {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover,
.navLink:focus {
  text-decoration: underline;
}

/* Hamburger Icon */
.hamburgerIcon {
  cursor: pointer;
}

.bar,
.barOpen {
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

/* Styles to create the "X" shape when open */
.barOpen:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.barOpen:nth-child(2) {
  opacity: 0; /* REMOVED THIS LINE */
}

.barOpen:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Mobile Menu - hidden by default, shown when toggled */
.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #444;
  padding: 1rem;
  transform: translateY(-100vh);
  transition: transform 0.3s ease-in-out;
}

.mobileMenuOpen {
  transform: translateY(0);
}
